# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [277]:
import pandas as pd
import numpy as np

In [278]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

In [279]:
df.columns = df.columns.str.lower().str.replace(" ", "_")

In [280]:
df.head()

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [281]:
# - Identify the dimensions of the dataset by determining the number of rows and columns it contains.
# - Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
# - Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
# - Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
# - Compute summary statistics for categorical columns and providing your conclusions based on these statistics.
# Your code here
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   1071 non-null   object
 1   st                         1071 non-null   object
 2   gender                     954 non-null    object
 3   education                  1071 non-null   object
 4   customer_lifetime_value    1068 non-null   object
 5   income                     1071 non-null   float64
 6   monthly_premium_auto       1071 non-null   float64
 7   number_of_open_complaints  1071 non-null   object
 8   policy_type                1071 non-null   object
 9   vehicle_class              1071 non-null   object
 10  total_claim_amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [282]:
# change CLV to float
df["customer_lifetime_value"] = df["customer_lifetime_value"].str.rstrip('%').astype('float')

In [283]:
# Identify the number of unique values for each column and determine which columns appear to be categorical. 
# You should also describe the unique values of each categorical column and the range of values for numerical columns, 
# and give your insights.
# for column in df.columns:
#     print(df[column].value_counts())

# Identify the number of unique values for each column
unique_values = df.nunique()
print("Number of unique values for each column:")
print(unique_values)

# Determine which columns appear to be categorical
categorical_columns = df.select_dtypes(include=['object']).columns
print("\nCategorical columns are {}".format(list(categorical_columns)))

Number of unique values for each column:
customer                     1071
st                              8
gender                          5
education                       6
customer_lifetime_value      1027
income                        774
monthly_premium_auto          132
number_of_open_complaints       6
policy_type                     3
vehicle_class                   6
total_claim_amount            761
dtype: int64

Categorical columns are ['customer', 'st', 'gender', 'education', 'number_of_open_complaints', 'policy_type', 'vehicle_class']

In [284]:
#- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles 
#  to understand the central tendency and distribution of the data for numerical columns. 
# You should also provide your conclusions based on these summary statistics.
df.describe().apply(lambda s: s.apply(lambda x: format(x, '.2f')))

# data seems to be substantially influenced by outliers (difference mean and median and high stdv)
# right skewed data

,customer_lifetime_value,income,monthly_premium_auto,total_claim_amount
count,1068.00,1071.00,1071.00,1071.00
mean,793690.26,39295.70,193.23,404.99
std,643478.41,30469.43,1601.19,293.03
min,200435.07,0.00,61.00,0.38
25%,403407.99,14072.00,68.00,202.16
50%,588174.23,36234.00,83.00,354.73
75%,896287.20,64631.00,109.50,532.80
max,5816655.35,99960.00,35354.00,2893.24

In [285]:
gender_answer = df.gender.unique()
gender_map = {}
for answer in gender_answer:
    if isinstance(answer, str) and (answer[0] == "F" or answer[0] == "f"):
        gender_map[answer] = "F"
    elif isinstance(answer, str):
        gender_map[answer] = "M"

In [286]:
df["gender"] = df["gender"].replace(gender_map)
df["education"] = df["education"].replace("Bachelor", "Bachelors")
df["st"] = df["st"].replace({"WA": "Washington", "AZ": "Arizona", "Cali": "California"})

In [287]:
# Compute summary statistics for categorical columns
categorical_columns = categorical_columns.drop("customer")
for column in categorical_columns:
    print(f"Summary statistics for {column}:")
    print(df[column].value_counts())
    print("\n")

Summary statistics for st:
st
California    331
Oregon        320
Arizona       211
Washington    111
Nevada         98
Name: count, dtype: int64


Summary statistics for gender:
gender
F    502
M    452
Name: count, dtype: int64


Summary statistics for education:
education
Bachelors               331
College                 313
High School or Below    296
Master                   94
Doctor                   37
Name: count, dtype: int64


Summary statistics for number_of_open_complaints:
number_of_open_complaints
1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: count, dtype: int64


Summary statistics for policy_type:
policy_type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64


Summary statistics for vehicle_class:
vehicle_class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [301]:
# Your code here
df["st"].value_counts().sort_values(ascending=True).head(5) # cleaned data before so only 5 exist

st
Nevada         98
Washington    111
Arizona       211
Oregon        320
California    331
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [304]:
# Your code here
df["policy_type"].value_counts().idxmax()

'Personal Auto'

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [ ]:
# df_personal = df.loc[df["policy_type"] == "Personal Auto"]
# df_corporate = df_personal = df.loc[df["policy_type"] == "Corporate Auto"]

In [ ]:
df_policy_type = df.groupby(by="policy_type")[["income"]].mean()
df_policy_type["income"] = df_policy_type["income"].apply(lambda x: format(x, '.2f'))
df_policy_type

                  income
policy_type
Corporate Auto  41390.31
Personal Auto   38180.70
Special Auto    45954.70

In [339]:
float(df_policy_type.loc["Corporate Auto", "income"]) - float(df_policy_type.loc["Personal Auto", "income"])

3209.6100000000006

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [349]:
# Your code here
df_high_claim = df[["total_claim_amount"]][df["total_claim_amount"]>df["total_claim_amount"].quantile(0.75)]
df_high_claim.describe()

       total_claim_amount
count          264.000000
mean           782.228263
std            292.751640
min            537.600000
25%            606.521741
50%            679.597985
75%            851.400000
max           2893.239678